{% extends "layouts/main.html" %}

{% block content %}
   <h1>{{name}}</h1>
      <div>
       <p id="title">{{ titel }}</p>
      </div>
      <div>
       <p>{{ status }}</p>
      </div>
      <div>
         <input class="button-primary" id="sethomebase" type = "button" value="set Home Base" />
      <div>
               <div>
         <input class="button-primary" id="setfirstwp" type = "button" value="set first WP" />
      <div>
         
      <script>

      
         
        $("#sethomebase").click(function() 
            {
            $.ajax({
               type:"get",
               url: "http://192.168.1.66:5000/api",
               data: {function: "sethomebase" 
                     },
               success: function(response)
                  {
                     console.log(response);
                     $("#title").text(response);
                     ///$("#sethomebase").val(response);
                  }
                  }
                  )  
            }
         );
         
         $("#setfirstwp").click(function() 
            {
            $.ajax({
               type:"get",
               url: "http://192.168.1.66:5000/api",
               data: {function: "setfirstwp" 
                     },
               success: function(response)
                  {
                     console.log(response);
                     $("#title").text(response);
                  }
                  }
                  )  
            }
         );
         
         setInterval(function() { 
         // alle 3 Sekunden ausführen 
         $.ajax({
               type:"get",
               url: "http://192.168.1.66:5000/api",
               data: {function: "getdirection" 
                     },
               success: function(response)
                  {
                     console.log(response);
                     $("#title").text(response);
                  }
                  }
                  )  
         }, 20000); 



      </script>

{% endblock %}
